.container {
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-around;
    background-image: url(../Filters/back.jpg);
   
    
  }
  
  .title {
    color: rgb(252, 252, 147);
    background-color:rgba(70, 70, 70, 0.63);
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 3px;
    text-align: center;
  }
  
  .label {
    color: rgb(73, 70, 70);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
  }
  
  .select {
    border: solid;
    height: 25px;
    width: 100px;
  }