.cardPoke {
     /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
      background-image: url(../Pages/back.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      width: 1920px;
      height: 860px;
      display: flex;
      justify-content: center; 
      flex-wrap: wrap;
      overflow-y: scroll ;
  }
  
  .pagination {
    display: flex;
   padding: 8px 700px 0px; 
    /* background-color:#fcfcacf3; */
    background-image: url(../Pages/back.jpg);
    
    
  }
  
  .btn {
    margin: 0 auto;
    padding: 0.5em 1.5em;
    border: none;
    border-left: none;
    color: rgb(220, 233, 238);
    font-family: url(../Pages/font_gba.ttf);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgba(78, 67, 67, 0.336);
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgba(78, 67, 67, 0.336);
    color: rgb(126, 214, 236);
  }
  
  .loading {
   /*  background: url(pikachu-loading.gif); */
   font-family: url(../Pages/font_gba.ttf);
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    animation-name: tittle; 
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   -webkit-animation-name: tittle; 
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 10px;  
    width: auto ;
    position: absolute;
    display: block; 
    width: 1000px;
    height: 250px;

}  


    
    
  
  
  @-moz-keyframes tittle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes tittle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes tittle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }