.topCont {
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  
  .cont {
   /*  display: flex; */
    justify-content: center;
    position: relative;
    background-image: url('../PokeDetail/back.jpg');
    padding-bottom: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
  } 
   .btn{
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: yellow;
    font-size: 15px;
    color: grey;
  }
  .cont:hover .btn{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
  
  }
  
  .title {
    color: rgb(0, 0, 0);
    font-size: 60px;
    letter-spacing: 60px;
    text-align: center;
    margin-left: 300px;
  }

  meter {
    margin-right: 700px;  
    width: 120px;
    height: 35px;
    border: 4px solid rgb(0, 0, 0);
    
  } 
    .text {
    display: flex;
     justify-content: space-between;
    font-style:italic;
    font-size: 30px;
    text-align: center;  
    margin-top: 5px;
    margin-left:700px
  }
  

  
/*   .detail:hover {
    transition: all 2s ease-out;
    font-size: 32px;
    width: 200px; 
    letter-spacing: 6px;
    margin-right: 300px;
  } */
  
  .abilities {
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: 6px;
    /* margin-top: 50px; */
    margin-left: 950px;
    
  }
  
  .imgDetails {
    height: 200px;
    width: 300px;
    margin-right: 50px;
   -webkit-filter: drop-shadow(50px 10px 10px rgba(0, 0, 0, 0.39));
    filter: drop-shadow(50px 50px 10px rgba(0, 0, 0, 0.596)); 
    margin-top: 100px;
  }
  
  .imgDetails:hover {
    margin-top: 150;
    height: 200px;
    width: 200px;
    -webkit-filter: drop-shadow(80px 80px 0px rgba(0, 0, 0, 0.596));
    filter: drop-shadow(60px 60px 5px rgba(0, 0, 0, 0.815));
    justify-content: center;
  }
  
  .types {
    font-size: 20px;
    text-align: center;
    flex-direction: row;
    display: flex;
    margin-left: 80px;
    margin-top: -100px
  }
  
  .typesImg {
    width: 30px;
    height: 30px;
  }